[submodule "tests"]
	path = tests/testdata
	url = https://github.com/ethereum/tests
[submodule "erigon-lib"]
	path = erigon-lib
	url = git@gitlab.com:bbt-blockchain/bitkub-chain/erigon-lib.git
	branch = bkc-pos
[submodule "erigon-snapshot"]
	path = erigon-snapshot
	url = git@gitlab.com:bbt-blockchain/bitkub-chain/erigon-snapshot.git
	branch = bkc/mainnet
